@import "tailwindcss";

@theme inline {
  --font-gobold: "Gobold", sans-serif;
	--color-sand: #FFF1B6;   /* Beige/Amarillo claro (Fondo) */
  --color-sunset: #F16B2E; /* Naranja fuerte (Botones) */
  --color-gold: #FAE091;    /* Amarillo dorado (Barras y detalles) */
  --color-cocoa: #682510; /* Marrón oscuro (Texto) */
}

@font-face {
  font-family: "Gobold";
  src: url("/fonts/Gobold Bold.otf") format("opentype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Gobold";
  src: url("/fonts/Gobold Bold Italic.otf") format("opentype");
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: "Gobold";
  src: url("/fonts/Gobold CUTS.otf") format("opentype");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Gobold";
  src: url("/fonts/Gobold CUTS Italic.otf") format("opentype");
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: "Gobold";
  src: url("/fonts/Gobold Extra.otf") format("opentype");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: "Gobold";
  src: url("/fonts/Gobold Extra Italic.otf") format("opentype");
  font-weight: 800;
  font-style: italic;
}

@font-face {
  font-family: "Gobold";
  src: url("/fonts/Gobold High.otf") format("opentype");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: "Gobold";
  src: url("/fonts/Gobold High Bold.otf") format("opentype");
  font-weight: 900;
  font-style: bold;
}

@font-face {
  font-family: "Gobold";
  src: url("/fonts/Gobold High Bold Italic.otf") format("opentype");
  font-weight: 900;
  font-style: italic;
}

@font-face {
  font-family: "Gobold";
  src: url("/fonts/Gobold Hollow.otf") format("opentype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Gobold";
  src: url("/fonts/Gobold Hollow Bold.otf") format("opentype");
  font-weight: 700;
  font-style: bold;
}

@font-face {
  font-family: "Gobold";
  src: url("/fonts/Gobold Hollow Bold Italic.otf") format("opentype");
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: "Gobold";
  src: url("/fonts/Gobold Light.otf") format("opentype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Gobold";
  src: url("/fonts/Gobold Light Italic.otf") format("opentype");
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: "Gobold";
  src: url("/fonts/Gobold Lowplus.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Gobold";
  src: url("/fonts/Gobold Lowplus Italic.otf") format("opentype");
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: "Gobold";
  src: url("/fonts/Gobold Regular.otf") format("opentype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Gobold";
  src: url("/fonts/Gobold Regular Italic.otf") format("opentype");
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: "Gobold";
  src: url("/fonts/Gobold Thin.otf") format("opentype");
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: "Gobold";
  src: url("/fonts/Gobold Thin Italic.otf") format("opentype");
  font-weight: 100;
  font-style: italic;
}

@font-face {
  font-family: "Gobold";
  src: url("/fonts/Gobold Up.otf") format("opentype");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Gobold";
  src: url("/fonts/Gobold Up Italic.otf") format("opentype");
  font-weight: 600;
  font-style: italic;
}
